{% extends "academycity/base.html" %}
{% load static %}
{% block title %}Video calling{% endblock title %}

{% block content %}
    <script type="text/javascript">
        var redishost= "{{ redishost }}";
    </script>

<h1>Video shown</h1>
<div>
    <button id="idTakePictureBtn" autofocus>TakePicture</button>
</div>
<div>
    Video: <select id="camera"></select><br/>
    audio input: <select id="audioinput"></select><br/>
    audio output: <select id="audiooutput"></select><br/>
</div>

<div id="idAllVideos" style="margin-left:50px">
 <video id="idMyVideoTag" src="" autoplay width="240" height="240"></video>
</div>

<div>
    <label>Your name</label> <input type="text" id="idMyName">
    <label>Message</label> <input type="text" id="idMessage">
    <input type="submit" id="idSendMessage" value="Submit">
    <div id="idChatArea">Message output: <br></div>
    <div id="idSignalingArea">Signaling Message: <br></div>
    <input id="user_id" type="hidden" value="{{user_id}}" /><br/>
</div>

 <img src="" id="idImage" alt="your picture" />
<!--canvas is used for temporary processing an image-->
<canvas id="idCanvas" style="display: none;"></canvas>

<script src="{% static 'videocall/js/video_call.js' %}"></script>
{% endblock %}



